li a {
    color: green;
}

body {
}

/* Apply some basic styles to the navigation bar */
.topnav {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Style the navigation links */
.topnav a {
    text-decoration: none;
    padding: 20px 30px;
    border-bottom: 2px solid ;
    transition: border-bottom 0.3s;
    margin-right: 30px; 
}

/* Add an underline on hover */
.topnav a:hover {
    color: aqua;
    border-bottom: 2px solid aqua;
}

